@model IEnumerable<MVCExample.Models.Employee> //can also use List
@{
    ViewData["Title"] = "collectionOfObjectsPassing";
}

<h1>collectionOfObjectsPassing</h1>
<style>
	table {
		border-collapse: collapse;
		width: 50%;
	}

	table, th, td {
		border: 2px solid black;
	}

	th, td {
		padding: 8px;
		text-align: left;
	}
</style>
<table>
	<thead>
		<tr>
			<th>EmployeeID</th>
			<th>EmpName</th>
			<th>Salary</th>
			<th>Image</th>
			<th>Details</th>
		</tr>
	</thead>
	<tbody>
		<!--using foreach becoz we are use collection of objects-->
		@foreach (var emp in Model)
		{
			<tr>
				<td>@emp.EmployeeId</td>
				<td>@emp.EmpName</td>
				<td>@emp.Salary</td>
				<td>
					<img src="@emp.ImageUrl" alt="@emp.EmpName" width="100" height="100"/>
				</td>
				<td>
					<a href="/Home/Details/@emp.EmployeeId">Details</a>|
					<a asp-controller="Home" asp-action="Details" asp-route-id="emp.EmployeeId">Details</a> 
				</td>
			</tr>
		}
	</tbody>
</table>


